body {
	background:url(../images/bg1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}


@font-face {
    font-family: 'myFont'; 
    src: url(../fonts/PingFangSC.ttf);
    font-weight: normal;
    font-style: normal;
}
html,body { 
	font-family: myFont, sans-serif; 
}


.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	color: #3F4448;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 22px;
}

.contact_me {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 3px;
}

.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}

.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	background-color: rgba(0,0,0,0.3);
	z-index: 1;
	background-position: center top;
	background-size: cover;
	overflow: hidden;
	border-radius: 60px;
	backdrop-filter: blur(8px);
}

.gallery::after{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
	z-index: -1;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(15px);
}

.thumbnail {
	width: 23%;
	height: 323px;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 0px;
	border-radius: 30px;
	transition: all 0.3s;
}

.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #52BAD5;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}

.intro {
	width: 100%;
	padding-bottom: 35px;
	margin-top: 20px;
	border-radius: 60px 60px 60px 60px;
	display: inline-block;
	background: url(../images/bg1.png);
}

.column {
	width: 50%;
	text-align: center;
	padding-top: 20px;
	float: left;
}

.intro .column h3 {
	color: #3F4448;
	text-align: center;
}

.intro .column p {
	color: #3F4448;
	font-size: large;
}

.cards {
	width: 100%;
	height: 220px;
	max-width: 400px;
	max-height: 400px;

	border-radius: 25px;
}

.gallery .thumbnail:hover{
	filter: blur(0px);    
	transform: translateY(-5px);
	box-shadow: 0 3px 20px rgba(0,0,0,.28);
}

.intro .column p {
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
	margin: 8px;
}

.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #6DC7D0;
	transition: all 0.3s;
}

.button a{
	text-decoration: none;
	color: #6DC7D0;
	
}

.button:hover {
	background-color: #5379B9;
	transform: translateY(-5px);
	filter: blur(0px);
	border-color: #5379B9;
	box-shadow: 0 3px 20px rgba(0,0,0,.28);
}

.copyright {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	background:#5379B9;
	color: #333333;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	border-radius:  0 0 20px 20px;
}

footer {
	background: url(../images/bg2.png);
	padding-top: 40px;
	padding-bottom: 40PX;
	margin-top: 20px;
	border-radius: 20px 20px 0 0;
	
}

.profile {
	width: 50%;
	border-radius:50%;
	transition: all 0.3s;
}

.profile:hover{
	transition: all 0.3s;
	transform: translateY(-5px);
	box-shadow: 0 3px 20px rgba(0,0,0,.28);
}

.gallery .thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
